In [14]:
import pandas as pd

dfIRS = pd.read_csv("IRS-Tax Filing.txt", sep = "\t", header = 0)
dfZillow = pd.read_csv("Zillow-Rents.txt", sep = "\t", header = 0)

In [16]:
df = pd.merge(dfZillow, dfIRS, on= "Zip")
#SQL - left join (data1)

In [17]:
df.shape

(15805, 14)

In [18]:
df.head()

,Zip,State_x,County_x,City_x,ZrentValue_x,State_y,County_y,City_y,ZrentValue_y,NoReturns,SingleReturns,UnempComp,StudentLoanDeductions,TaxableIncome
0,10025,NY,New York,New York,3522,NY,New York,New York,3522,6250,4460,1276,1415,280416
1,60657,IL,Cook,Chicago,1885,IL,Cook,Chicago,1885,8490,7530,1002,3930,408987
2,10023,NY,New York,New York,3783,NY,New York,New York,3783,3860,3130,1023,752,173242
3,60614,IL,Cook,Chicago,2125,IL,Cook,Chicago,2125,6930,6290,752,2903,335742
4,79936,TX,El Paso,El Paso,992,TX,El Paso,El Paso,992,6280,1670,1428,927,235785

In [26]:
dfTarget = df["ZrentValue_x"]
df = df.drop(df.columns["State_x","County_x","City_x","State_y"] ,1)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [ ]:
#plot for normal distribution